/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 7:54:12 PM
    Author     : Randhawa
*/

body {
    background-image: url("backg4.jpg");
    color: black;
    text-shadow: 0 0 10px #E08335;  
    font-family: 'Lato', sans-serif;
}
#page{
    background-color: #862C09;
    //border: 15px dashed lightblue;
}


#navBar{
    background-color: #C9C9C9;
    font-size: 200%;
}
#slideShow{
    background-color: #282828;
}