/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 7:54:12 PM
    Author     : Randhawa
*/
body{
text-align: left;
}

#page{
    width: 700px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

#bannerImg{
    height: 250px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#content img{
    width: 500px;
    height:300px;
}

#navBar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
