/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 7:54:12 PM
    Author     : Randhawa
*/

body {
    background-image: url("sbu.jpg");
    color: black;
    text-shadow: 0 0 10px red;  
    font-family: 'Poiret One', cursive;
}
#page{
    background-color: whitesmoke;
    height: 500px;
    width: 1300px;
    //border: 15px dashed lightblue;
}


#navBar{
    background-color: #C9C9C9;
    font-size: 200%;
    opacity: 0.8;
}
#navBar:hover{
    opacity: 1;
}
#navBar a{
    color: black;
}
#slideShow{
    background-color: #282828;
}