/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 7:54:12 PM
    Author     : Randhawa
*/
body{
text-align: center;
background-size: 1300px 300px;
}

#page{
    width: 700px;
    padding: 25px;
    height: 500px;
    width: 1300px;
}

#content table{
    margin-left: auto;
    margin-right: auto;
}

#navBar{
    width: 150px;
    color: black;
}
