/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 7:54:12 PM
    Author     : Randhawa
*/

body {
    background-image: url("backg1.jpg");
    color: white;
    text-shadow: 0 0 5px #FF0000;  
    font-style: italic;
    font-family: 'Expletus Sans', cursive;
}
#page{
    background-color: lightgrey;
}

#bannerImg{
    
}

#navBar{
   // background-color: #C9C9C9;
    font-size: 200%;
}
#slideShow{
    background-color: #282828;
}